@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<hr />

<p>
    The main objective of College Event Management System is to manage the college events online. 
    Using this system, students are able to view events and associated event programs online and register for the event of their interest.
    Moreover, they can keep track of events for which they have registered. 
    Admin will be able to add events and programs with necessary details and can update & delete them as well.
    Admin can view the report of past events and students report who are registered for different events.
</p>
<br />

<div class="card-deck">
    <div class="card bg-dark text-light">
        <div class="card-body">
            <p class="card-text">We provide a platform for college students where they can view events and register for the events of their interest</p>
        </div>
        <div class="card-footer">
            <h5 class="card-title">Who we Are ?</h5>
        </div>
    </div>
    <div class="card bg-dark text-light">
        <div class="card-body">
            <p class="card-text">Our idea is to make the work of event management easy and paperless with minimum efforts required from your side.</p>
        </div>
        <div class="card-footer">
            <h5 class="card-title">Ideas</h5>
        </div>
    </div>
    <div class="card bg-dark text-light">
        <div class="card-body">
            <p class="card-text">How about managing the events with just one click? We also welcome your feedback & suggestions.</p>
        </div>
        <div class="card-footer">
            <h5 class="card-title">Innovation</h5>
        </div>
    </div>
</div>