@{
    ViewData["Title"] = "Contact Us";
}

<h2 class="text-primary text-center">Get in touch with Us</h2>
<hr />
<h5 class="text-center">Have a question or comment? Drop us a line</h5>
<br />

<div class="row text-center w-75 mx-auto">
    <div class="col-sm">
        <i class="fa fa-user-circle-o" style="font-size:60px"></i><br />
        <p class="font-weight-bold text-primary">Owner</p>
        <p>Jinal Panchal</p>
    </div>
    <div class="col-sm">
        <i class="fa fa-phone" style="font-size:60px"></i> <br />
        <p class="font-weight-bold text-primary">Call Us</p>
        <p>+91 8320321415</p>
    </div>
    <div class="col-sm">
        <i class="fa fa-envelope-o" style="font-size:60px"></i><br />
        <p class="font-weight-bold text-primary">Email Us</p>
        <p>jinalpanchal041@gmail.com</p>
    </div>
</div>

