@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="bg">
            <h1 class="text-light innerdiv" >
                Welcome to College Event Management Portal..!!
            </h1>
            <img src="~/images/home1.jpg" alt="Home Page" class="img-thumbnail"/>
        </div>
    </body>
</html>
