
@{
    ViewData["Title"] = "Admin Home";
}

<h2 class="text-dark">Welcome to Administrator Panel..!!</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <a asp-action="AddEvent" class="btn btn-primary btn-block" role="button">Add Events</a><br />
            <a asp-action="ViewEvents" class="btn btn-primary btn-block" role="button">View Events</a><br />
            <a asp-action="AddProgram" class="btn btn-primary btn-block" role="button">Add Programs</a><br />
            <a asp-action="ViewPrograms" class="btn btn-primary btn-block" role="button">View Programs</a><br />
            <a asp-action="GetStudentList" class="btn btn-primary btn-block" role="button">View Students</a><br />
            <a asp-action="GetEventReport" class="btn btn-primary btn-block" role="button">Event Report</a><br />
            <a asp-action="GetRegEventReport" class="btn btn-primary btn-block" role="button">Event Registration Report</a><br />
        </div>
        <div class="col-sm">
            <div class="card" style="width:500px">
                <img class="card-img-top admin" src="~/images/admin.jpg" alt="Administrator Panel" />
                <div class="card-footer text-center">
                     <a asp-action="Manage" asp-controller="Identity/Account" class="btn-link">Manage Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>